* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    width: 100%;
    background-image: url(images/nYuVFMI.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
}


.character {
    width: 250px;
    height: 300px;
    object-fit: contain;
    position: absolute;
    bottom: 10px;

}

.text {
    color: #FFF;
    font-size: 25px;
    margin-left: 20px;
}


.chartwo {
    width: 250px;
    height: 300px;
    object-fit: contain;
    position: absolute;
    bottom: 10px;
    margin-left: 75%;
}


.text-right{
    text-align: right;
    color: #FFF;
    font-size: 25px;
    margin-top: -100px;
    margin-right: 20px;
}